In [1]:
import pandas as pd
import seaborn as sns

In [23]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 110)

#### Let's import the CSV:

In [5]:
data = pd.read_csv('./data/fifa_dataset_v1.csv', index_col='id')

/home/ccastrob/anaconda3/envs/ironhack2/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3417: DtypeWarning: Columns (68) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
data.head()

,age,ova,nationality,club,bov,bp,pot,height,weight,growth,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
id,,,,,,,,,,,,,,,,,,,,,
16,37,71,Spain,KAS Eupen,70,CM,71,"5'10""",143lbs,0,...,66+1,66+1,66+1,62+1,60+1,60+1,60+1,60+1,60+1,17+1
41,36,81,Spain,Vissel Kobe,82,CAM,81,"5'7""",150lbs,0,...,73+3,73+3,73+3,70+3,67+3,64+3,64+3,64+3,67+3,17+3
80,38,77,Turkey,Fenerbahçe SK,77,CM,77,"5'7""",159lbs,0,...,72+2,72+2,72+2,66+2,64+2,65+2,65+2,65+2,64+2,16+2
330,35,80,Republic of Ireland,LA Galaxy,81,CF,80,"5'9""",161lbs,0,...,57+1,57+1,57+1,57+1,52+1,47+1,47+1,47+1,52+1,20+1
1179,42,82,Italy,Juventus,82,GK,82,"6'4""",203lbs,0,...,33+3,33+3,33+3,28+3,26+3,29+3,29+3,29+3,26+3,80+2

In [11]:
data.shape

(16414, 95)

In [27]:
### Cool way to standarize columns names:

"""
data1 = data.copy()
new_columns = [col.upper().replace('_',' ') for col in data1.columns]
data1.columns = new_columns 
"""

"\ndata1 = data.copy()\nnew_columns = [col.upper().replace('_',' ') for col in data1.columns]\ndata1.columns = new_columns \n"

#### Splitting target variable and features:

In [7]:
y=data['ova']

In [10]:
X=data.drop('ova', axis=1)

In [12]:
print(y.shape, X.shape)

(16414,) (16414, 94)

#### Splitting categorical features and numerical features:

In [15]:
X_cat = data.select_dtypes(include=object)
X_num = data.select_dtypes(exclude=object)

In [24]:
X_cat.head()

,nationality,club,bp,height,weight,value,wage,release_clause,w/f,sm,a/w,d/w,ir,hits,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,ram,lm,lcm,cm,rcm,rm,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
16,Spain,KAS Eupen,CM,"5'10""",143lbs,€600K,€7K,€1.1M,4 ★,3★,Medium,Medium,1 ★,4,67+1,67+1,67+1,67+0,68+0,68+0,68+0,67+0,70+1,70+1,70+1,68+1,70+1,70+1,70+1,68+1,62+1,66+1,66+1,66+1,62+1,60+1,60+1,60+1,60+1,60+1,17+1
41,Spain,Vissel Kobe,CAM,"5'7""",150lbs,€5.5M,€12K,€7.2M,4 ★,4★,High,Medium,4 ★,149,72+3,72+3,72+3,79+0,79+0,79+0,79+0,79+0,82+-1,82+-1,82+-1,79+2,81+0,81+0,81+0,79+2,70+3,73+3,73+3,73+3,70+3,67+3,64+3,64+3,64+3,67+3,17+3
80,Turkey,Fenerbahçe SK,CM,"5'7""",159lbs,€2.8M,€44K,€5.3M,4 ★,4★,Medium,Medium,2 ★,7,66+2,66+2,66+2,72+0,72+0,72+0,72+0,72+0,75+2,75+2,75+2,72+2,76+1,76+1,76+1,72+2,66+2,72+2,72+2,72+2,66+2,64+2,65+2,65+2,65+2,64+2,16+2
330,Republic of Ireland,LA Galaxy,CF,"5'9""",161lbs,€5.5M,€10K,€0,4 ★,3★,High,Low,2 ★,10,79+1,79+1,79+1,79+0,81+-1,81+-1,81+-1,79+0,81+-1,81+-1,81+-1,78+1,74+1,74+1,74+1,78+1,57+1,57+1,57+1,57+1,57+1,52+1,47+1,47+1,47+1,52+1,20+1
1179,Italy,Juventus,GK,"6'4""",203lbs,€2.2M,€41K,€3.6M,2 ★,1★,Medium,Medium,4 ★,154,31+3,31+3,31+3,30+0,33+0,33+0,33+0,30+0,34+3,34+3,34+3,32+3,35+3,35+3,35+3,32+3,28+3,33+3,33+3,33+3,28+3,26+3,29+3,29+3,29+3,26+3,80+2

In [42]:
X_cat['nationality'].nunique()

165

In [ ]:
X_cat['']

In [51]:
for col in X_cat.columns:
    print(f'Number of unique values in {col}: {X_cat[col].nunique()}')

Number of unique values in nationality: 165
Number of unique values in club: 868
Number of unique values in bp: 15
Number of unique values in height: 21
Number of unique values in weight: 56
Number of unique values in value: 215
Number of unique values in wage: 141
Number of unique values in release_clause: 1193
Number of unique values in w/f: 5
Number of unique values in sm: 5
Number of unique values in a/w: 3
Number of unique values in d/w: 3
Number of unique values in ir: 5
Number of unique values in hits: 545
Number of unique values in ls: 246
Number of unique values in st: 246
Number of unique values in rs: 246
Number of unique values in lw: 160
Number of unique values in lf: 144
Number of unique values in cf: 144
Number of unique values in rf: 144
Number of unique values in rw: 160
Number of unique values in lam: 289
Number of unique values in cam: 289
Number of unique values in ram: 289
Number of unique values in lm: 271
Number of unique values in lcm: 242
Number of unique values in cm: 242
Number of unique values in rcm: 242
Number of unique values in rm: 271
Number of unique values in lwb: 241
Number of unique values in ldm: 274
Number of unique values in cdm: 274
Number of unique values in rdm: 274
Number of unique values in rwb: 241
Number of unique values in lb: 230
Number of unique values in lcb: 283
Number of unique values in cb: 283
Number of unique values in rcb: 283
Number of unique values in rb: 230
Number of unique values in gk: 129

#### Let's explain a little bit about what we will do with each categorical column:
- __Nationality__: Grouping.
- __club__: DROP.
- __bp__: remain as it is.
- __height__: Transform to numerical.
- __weight__: Transform to numerical.
- __wage__: Transform to numerical.
- __release_clause__: Transform to numerical.
- __w/f__: Transform to numerical labels.
- __sm__: Transform to numerical labels.
- __a/w__: Transform to numerical labels.
- __d/w__: Transform to numerical labels.
- __ir__: Transform to numerical labels.
- __hits__: Transform to numerical.
- __others__: Keep the first number and cut off the potential.

#### There are some columns with many different value types:

In [14]:
def cleaning_presplit(df):
    
    
    
    return df